body {
    background-image: url("http://www.portoalegre.travel/upload/b/73/732649_library-wallpaper-hd.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 876px; 
}
